.body{
    margin: 0;
    justify-content: center;
    ;
}

.Artist11{
    height: 80px;
    width: 80px;
    object-fit: cover;
    border-radius: 100px;
}

.Table-Artist{
    border-radius: 20px;
    background-color: rgb(189, 171, 174);
    margin-left: 250px;
    margin-right: 250px;
    justify-content:center;
    
}

th, td{
    padding: 10px 20px;
    text-align: center;
}